.bluebar {
    background-color: #3b5998;
}

.bluebar_nav {
    width: 1100px;
    margin-left: 25px;
}

.bluebar_nav_logo {
    float: left;
    margin: 10px
}

.bluebar_nav_logo > a {
    display: block;
    background-color: white;
    padding: 4px 1px 1px 15px;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 700;
    color: #3b5998
}

.bluebar_nav_list {
    float: right;
    margin: 10px;
    background-color: #3b5998;
}

.bluebar_nav_list > li {
    float: left;
    border-right: 1px solid #203664;
}

.bluebar_nav_list > li:last-child {
    border-right: none;
}

.bluebar_nav_list > li > a {
    color: white;
    padding: 5px;
    display: flex;
}

.bluebar_nav_list > li > a:hover {
    background-color:  #203664;
}

.bluebar_nav_list > li:last-child:hover {
    background-color: #3b5998;
}

.bluebar_nav_list > li:last-child > button {
    background-color: #3b5998;
    border: none;
    color: black;
    font-size: 25px;
    display: block;
    cursor: pointer;
    padding: 2px 15px;
}

.bluebar_nav {
    position: relative;
}

#dropdown {
    position: absolute;
    width: 240px;
    top: 50px;
    right: 6px;
    z-index: 1;
}

.dropdown-list {
    background-color: white;
    border-radius: 5px;
}

.dropdown-list > li {
    height: 25px;
}

#dropdown button {
    width: 100%;
    height: 80%;
    margin-top: 2px;
    cursor: pointer;
    border-style: none;
    padding: 3px;
    font-size: 13px;
}

#dropdown button:hover {
    background-color: #3b5998;
    color: white;
}

.bluebar_nav_list > li:first-child {
    padding-right: 10px;
}

.thumbnail {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    object-fit: cover;
    margin-right: 7px;
}

.bluebar-up-arrow {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  margin-left: 207px;
  z-index: 1;
}

.current-user {
    padding-top: 5px;
}

.friend-requests {

}

.friend-requests:hover {
    background-color:  #203664;
}

.friend-requests > button {
    color: white;
    background: #3b5998;
    border: none;
    display: block;
    font-size: 15px;
    padding: 9px;
    cursor: pointer;
}

#requests-dropdown {
    position: absolute;
    width: 300px;
    top: 50px;
    right: 48px;
    z-index: 1;
}

.requests-dropdown-up-arrow {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  margin-left: 265px;
  z-index: 1;
}

.requests-dropdown-list {
    background: white;
    border: none;
    border-radius: 5px;
}

.requests-dropdown-list > li {
    color: gray;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}

.requests-dropdown-list > li:last-child {
    border-bottom: none;
}
.requests-dropdown-list > li > a {
    display: block;
    color: #3b5998;
    padding: 5px;
}

.requests-dropdown-list > li > a:hover {
    color: white;
    background-color: #3b5998;
}