.details-container {
    background-color: white;
    width: 350px;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 5px;
}

.details-container > h3 {
    padding-top: 20px;
    padding-bottom: 15px;
    width: 320px;
    margin: auto;
    border-bottom: 1px solid lightgray;
    font-size: 18px;
    font-weight: 400;
}

.details-list {
    width: 320px;
    margin: auto;
}

.details-list > li {
    list-style: none;
    padding-top: 15px;
    font-size: 13px;
}

.details-list > li:last-child {
    padding-bottom: 15px;
}