/* login */
.login-header {
    background-color: #3b5998;
    border-bottom: 1px solid #133783;
}

.login-nav {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 85px;
}

.login-nav-form {
    display: flex;
    justify-content: space-around;
    padding-top: 19px;
    width: 500px;
}

.login-nav-form-email, .login-nav-form-password {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 15px;
}

.login-nav-form-email > label, 
.login-nav-form-password > label {
    padding-bottom: 3px;
}

.login-email, 
.login-password {
    width: 150px;
    border-radius: 2px;
    border: .5px solid black;
    height: 18px;
    padding-left: 3px;
    background-color: #dde8ff;
    outline: none;
}

.login-nav-form-button {
    padding-top: 15px;
}

.login-nav-form-button > input {
    color: white;
    background-color: #4461a1;
    border-color: black;
    cursor: pointer;
    padding: 5px;
    outline: none;
}

.login-nav-form-button > input:hover {
    background-color: #2f477a;
}

.login-nav-logo {
    padding: 30px 10px 10px 10px;
    color: white;
    font-size: 40px;
}

/* signup */

.signup-main {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.signup-main-message {
    width: 400px;
    color: #3b5998;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 40px;
    line-height: 1.5em;
}

.signup-main-form {
    width: 425px;
    margin-right: 11px;
    margin-top: 25px;
}

.signup-main-form > h2 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 10px;
}

.signup-main-form > h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.signup-main-form-name {
    display: flex;
    justify-content: space-between;
}

.signup-form-text input {
    display: block;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 10px;
    border-style: solid;
    border-color: lightgray;
    outline: none;
}

.signup-form-text input::placeholder {
    color: #a7a9aa;
    font-weight: 400;
}

.signup-main-form-name > input {
    width: 193px;
    outline: none;
}

.signup-main-form-email > input, 
.signup-main-form-password > input {
    width: 410px;
    outline: none;
}

.signup-form-text > div {
    padding: 5px 0;
}

.signup-form-text {
    margin-bottom: 20px;
}

.signup-main-form-birthday > h2 {
    font-size: 18px;
    color: rgb(151, 148, 148);
    margin-bottom: 5px;
}

.signup-main-form-birthday {
    margin-bottom: 10px;
}

.signup-main-form-gender > h2 {
    font-size: 18px;
    color: rgb(151, 148, 148);
    margin-bottom: 5px;
}

.gender-inputs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.gender-male {
    margin-left: 10px;
}

.gender-inputs input {
    margin-right: 5px;
}

.signup-main-form-button input {
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    color: white;
    background: linear-gradient(#67ae55, #578843);
    width: 200px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #3b6e22 #3b6e22 #2c5115;
    box-shadow: inset 0 1px 1px #a4e388;
    cursor: pointer;
    outline: none;
}

/* errors */
.signup-form-text .errors, .errors{
    border: 1px solid red;
}

.gender-male, .gender-female {
    border-radius: 5px;
}

.login-email .errors, 
.login-password .errors {
    border: 1px solid red;
    border-style: solid;
}

.signup-errors-message {
    background-color: rgb(195, 47, 47);
    color: white;
    width: 150px;
    padding: 10px;
    line-height: 1.5em;
    border-radius: 5px;
}

.signup-arrow-right {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgb(195, 47, 47);
  margin-left: -1px;
}

.login-errors-message {
    background-color: rgb(195, 47, 47);
    color: white;
    width: 180px;
    padding: 5px;
    line-height: 1.5em;
    border-radius: 5px;
}

.login-arrow-right {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgb(195, 47, 47);
  margin-left: -4px;
}
.errors-box {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: absolute;
}

.signup-main-form {
    position: relative;
}

.login-nav-form {
    position: relative;
}

#login-errors-box {
    top: 25px;
    left: -190px;
}

#signup-errors-box {
    top: 60px;
    left: -185px;
}

.footer-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: white;
}

.footer {
    color: #737373;
    margin: 0 auto;
    width: 980px;
    height: 70px;
    display: flex;
    align-items: center;
    height: 45px;
}

.footer-name {
    margin-right: 50px;
}

.footer-list {
    display: flex;
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.footer-list > li {
    list-style-type: none;
}

.footer-list span {
    margin-left: 3px;
}

.footer-list a {
    text-decoration: none;
    color: #385898;
}

.footer-list a:hover {
    text-decoration: underline;
}

html, body, #root, .welcome-page {
    height: 100%
}

select {
    height: 30px;
    margin-right: 10px;
    outline: none;
    font-size: 13px;
}