.timeline {
    width: 625px;
}

.post-form-container {
    background: white;
    margin-bottom: 10px;
    border-radius: 5px;
}

.post-form {
    display: flex;
    flex-direction: column;
}

.post-form-input-container {
    border-bottom: .5px solid lightgray;
    margin: auto;
    margin-bottom: 1px;
    width: 97%;
    height: 60px;
    display: flex;
}

.post-form-input {
    border: none;
    font-size: 20px;
    width: 100%;
}

.post-form-input::placeholder{
    font-size: 20px;
    color: lightgray;
}

.post-form > button {
    background-color: #3b5998;
    color: white;
    height: 33px;
    font-weight: 700;
    font-size: 12px;
    padding: 8px;
    border-radius: 5px;
    width: 97%;
    margin: auto;
}

.post-thumbnail {
    border-radius: 50%;
    object-fit: cover;
    margin-right: 7px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
}

.posts-title {
    color: rgb(95, 95, 95);
    font-size: 13px;
    margin-bottom: 10px;
}

.posts {
 
}

.posts-list {
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
}

.posts-list > li {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.post-header {
    display: flex;
    height: 58px;
    width: 97%;
    margin: auto;
}

.post-header-img {
    border-radius: 50%;
    object-fit: cover;
    margin-right: 7px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
}

.post-header-details {
    padding-top: 14px;
}

.post-header-name {
    color: #3b5998;
    margin-bottom: 2px;
}

.post-header-date {
    color: gray;
    font-size: 12px;
}

.post-body {
    width: 97%;
    margin: auto;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 5px;
}

.post-delete-button {
    position: absolute;
    top: 15px;
    right: 25px;
}